<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="PreserveLoginUrl" value="true"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Security" connectionString="Data Source=DEVELOPER-5\SYSTEMSTESTING;Network Library=DBMSSOCN;Initial Catalog= PO_SECURITY;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient"/>
    <add name="PO_Client" connectionString="Data Source=DEVELOPER-5\SYSTEMSTESTING;Network Library=DBMSSOCN;Initial Catalog= PO_CLIENT;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient"/>
    <add name="PO_Masterlist" connectionString="Data Source=DEVELOPER-5\SYSTEMSTESTING;Network Library=DBMSSOCN;Initial Catalog= PO_MASTERLIST;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient"/>
    <add name="PO_Supplier" connectionString="Data Source=DEVELOPER-5\SYSTEMSTESTING;Network Library=DBMSSOCN;Initial Catalog= PO_SUPPLIER;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient"/>
    <add name="PO_DRModule" connectionString="Data Source=DEVELOPER-5\SYSTEMSTESTING;Network Library=DBMSSOCN;Initial Catalog= PO_DRMODULE;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient"/>
    <add name="PO_Accounting" connectionString="Data Source=DEVELOPER-5\SYSTEMSTESTING;Network Library=DBMSSOCN;Initial Catalog= PO_ACCOUNTING;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient"/>-->
    
    <add name="Security" connectionString="Data Source=(LocalDb)\v11.0;Network Library=DBMSSOCN;Initial Catalog= PO_SECURITY;" providerName="System.Data.SqlClient" />
    <add name="PO_Client" connectionString="Data Source=(LocalDb)\v11.0;Network Library=DBMSSOCN;Initial Catalog= PO_CLIENT;" providerName="System.Data.SqlClient" />
    <add name="PO_Masterlist" connectionString="Data Source=(LocalDb)\v11.0;Network Library=DBMSSOCN;Initial Catalog= PO_MASTERLIST;" providerName="System.Data.SqlClient" />
    <add name="PO_Supplier" connectionString="Data Source=(LocalDb)\v11.0;Network Library=DBMSSOCN;Initial Catalog= PO_SUPPLIER;" providerName="System.Data.SqlClient" />
    <add name="PO_DRModule" connectionString="Data Source=(LocalDb)\v11.0;Network Library=DBMSSOCN;Initial Catalog= PO_DRMODULE;" providerName="System.Data.SqlClient" />
    <add name="PO_Accounting" connectionString="Data Source=(LocalDb)\v11.0;Network Library=DBMSSOCN;Initial Catalog= PO_ACCOUNTING;" providerName="System.Data.SqlClient" />

    <!--<add name="Security" connectionString="Data Source=ATI-SYSTEST\PROCUREMENT;Network Library=DBMSSOCN;Initial Catalog= PO_SECURITY;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient" />
    <add name="PO_Client" connectionString="Data Source=ATI-SYSTEST\PROCUREMENT;Network Library=DBMSSOCN;Initial Catalog= PO_CLIENT;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient" />
    <add name="PO_Masterlist" connectionString="Data Source=ATI-SYSTEST\PROCUREMENT;Network Library=DBMSSOCN;Initial Catalog= PO_MASTERLIST;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient" />
    <add name="PO_Supplier" connectionString="Data Source=ATI-SYSTEST\PROCUREMENT;Network Library=DBMSSOCN;Initial Catalog= PO_SUPPLIER;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient" />
    <add name="PO_DRModule" connectionString="Data Source=ATI-SYSTEST\PROCUREMENT;Network Library=DBMSSOCN;Initial Catalog= PO_DRMODULE;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient" />
    <add name="PO_Accounting" connectionString="Data Source=ATI-SYSTEST\PROCUREMENT;Network Library=DBMSSOCN;Initial Catalog= PO_ACCOUNTING;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--<connectionStrings>
  

   <add name="Security" connectionString="Data Source=DEVELOPER-5\FAMILYDOC_TEST;Network Library=DBMSSOCN;Initial Catalog= PO_SECURITY;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient" />
    <add name="PO_Client" connectionString="Data Source=DEVELOPER-5\FAMILYDOC_TEST;Network Library=DBMSSOCN;Initial Catalog= PO_CLIENT;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient" />
    <add name="PO_Masterlist" connectionString="Data Source=DEVELOPER-5\FAMILYDOC_TEST;Network Library=DBMSSOCN;Initial Catalog= PO_MASTERLIST;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient" />
    <add name="PO_Supplier" connectionString="Data Source=DEVELOPER-5\FAMILYDOC_TEST;Network Library=DBMSSOCN;Initial Catalog= PO_SUPPLIER;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient" />
    <add name="PO_DRModule" connectionString="Data Source=DEVELOPER-5\FAMILYDOC_TEST;Network Library=DBMSSOCN;Initial Catalog= PO_DRMODULE;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient" />
    <add name="PO_Accounting" connectionString="Data Source=DEVELOPER-5\FAMILYDOC_TEST;Network Library=DBMSSOCN;Initial Catalog= PO_ACCOUNTING;User ID=sa;Password=123Blue*" providerName="System.Data.SqlClient" />
    
    
    
    <add name="Security" connectionString="Data Source=E-PROCUREMENT\EPROCUREMENT;Network Library=DBMSSOCN;Initial Catalog= PO_SECURITY;User ID=sa;Password=123Blue*"
      providerName="System.Data.SqlClient" />
    <add name="PO_Client" connectionString="Data Source=E-PROCUREMENT\EPROCUREMENT;Network Library=DBMSSOCN;Initial Catalog= PO_CLIENT;User ID=sa;Password=123Blue*"
      providerName="System.Data.SqlClient" />
    <add name="PO_Masterlist" connectionString="Data Source=E-PROCUREMENT\EprocUREMENT;Network Library=DBMSSOCN;Initial Catalog= PO_MASTERLIST;User ID=sa;Password=123Blue*"
      providerName="System.Data.SqlClient" />
    <add name="PO_Supplier" connectionString="Data Source=E-PROCUREMENT\EPROCUREMENT;Network Library=DBMSSOCN;Initial Catalog= PO_SUPPLIER;User ID=sa;Password=123Blue*"
      providerName="System.Data.SqlClient" />
    <add name="PO_DRModule" connectionString="Data Source=E-PROCUREMENT\EPROCUREMENT;Network Library=DBMSSOCN;Initial Catalog= PO_DRMODULE;User ID=sa;Password=123Blue*"
      providerName="System.Data.SqlClient" />
    <add name="PO_Accounting" connectionString="Data Source=E-PROCUREMENT\EPROCUREMENT;Network Library=DBMSSOCN;Initial Catalog= PO_ACCOUNTING;User ID=sa;Password=123Blue*"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>  
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="D82960E6B6E9B9029D4CAB2F597B5B4AF631E3C182670855D25FBDE1BFAFE19EFDE92ABBD1020FC1B2AE455D5B5F8D094325597CE1A7F8B15173407199C85A16" decryptionKey="577404C3A13F154908D7A5649EEC8D7C8A92C35A25A3EC078B426BB09D426A71" validation="SHA1" decryption="AES"/>
    <sessionState timeout="60"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/index" timeout="60" slidingExpiration="true" protection="All"/>
    </authentication>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <httpRuntime maxRequestLength="1048576" executionTimeout="36000" targetFramework="4.5" requestValidationMode="2.0"/>
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>