<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://10.0.0.108/procurementsystem</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>10.0.0.108</MSDeployServiceURL>
    <DeployIisAppPath>ATI_Systems/procurementsystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PO_Masterlist" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEVELOPER-5\SYSTEMSTESTING;Initial Catalog=PO_MASTERLIST;User ID=sa;Password=123Blue*;Network Library=dbmssocn" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PO_Masterlist_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DEVELOPER-5\SYSTEMSTESTING;Network Library=DBMSSOCN;Initial Catalog= PO_MASTERLIST;User ID=sa;Password=123Blue*" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PO_Accounting" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEVELOPER-5\SYSTEMSTESTING;Initial Catalog=PO_ACCOUNTING;User ID=sa;Password=123Blue*;Network Library=dbmssocn" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PO_Accounting_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DEVELOPER-5\SYSTEMSTESTING;Network Library=DBMSSOCN;Initial Catalog= PO_ACCOUNTING;User ID=sa;Password=123Blue*" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PO_Supplier" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEVELOPER-5\SYSTEMSTESTING;Initial Catalog=PO_SUPPLIER;User ID=sa;Password=123Blue*;Network Library=dbmssocn" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PO_Supplier_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DEVELOPER-5\SYSTEMSTESTING;Network Library=DBMSSOCN;Initial Catalog= PO_SUPPLIER;User ID=sa;Password=123Blue*" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PO_DRModule" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEVELOPER-5\SYSTEMSTESTING;Initial Catalog=PO_DRMODULE;User ID=sa;Password=123Blue*;Network Library=dbmssocn" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PO_DRModule_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DEVELOPER-5\SYSTEMSTESTING;Network Library=DBMSSOCN;Initial Catalog= PO_DRMODULE;User ID=sa;Password=123Blue*" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PO_Client" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEVELOPER-5\SYSTEMSTESTING;Initial Catalog=PO_CLIENT;User ID=sa;Password=123Blue*;Network Library=dbmssocn" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PO_Client_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DEVELOPER-5\SYSTEMSTESTING;Network Library=DBMSSOCN;Initial Catalog= PO_CLIENT;User ID=sa;Password=123Blue*" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Security" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DEVELOPER-5\SYSTEMSTESTING;Initial Catalog=PO_SECURITY;User ID=sa;Password=123Blue*;Network Library=dbmssocn" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Security_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DEVELOPER-5\SYSTEMSTESTING;Network Library=DBMSSOCN;Initial Catalog= PO_SECURITY;User ID=sa;Password=123Blue*" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PO_Accounting-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PO_Client-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PO_DRModule-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PO_Masterlist-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PO_Supplier-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Security-Web.config Connection String" />
  </ItemGroup>
</Project>